#btn_cam{
    width:20%;
}
h1{
  color: rgb(40, 34, 73);  
}
#titre_exam{
    border-bottom-style: solid;
    border-bottom-color:rgb(161, 153, 209);
}

#videoInput{
    width: 90%;
    height: 40%;
}
#text_info{
    border: solid;
    margin-top: 3%;

}