{% extends "base.html" %}

{% block content %}
    <header class="header sticky-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-3 shadow-sm" id="nav1">
        <div class="container"><a class="navbar-brand" href="#">
            <strong class="h5 mb-0 font-weight-bold"> <!-- ICON - <i class=""></i> --> Exam monitoring system</strong></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/about/">About</a></li>
                </ul>
            </div>
            <a class="nav-link" href="/login/">Log in</a>
        </div>
    </nav>
    </header>

    <div class="main-content">
        <h1 class = "text center">Welcome to our exam monitoring platform</h2>
        <hr/>
        <h5>The following rules are to be respected during the exam: </h5>
        <ul>
            <li>Only the participant may be present in the exam room at any time</li>
            <li>The following objects are forbidden: phones, additional computers, notebooks, whiteboards</li>
            <li>No talking or whispering of any kind after the exam begins</li>
        </ul>
        <hr/>
        <h5>In addition to these rules the participant is REQUIRED to have:</h5>
        <ul>
            <li>A functioning webcam</li>
            <li>A wireless internet connection</li>
            <li>A smartphone with a functional camera</li>
            <li>A working microphone</li>
        </ul>
        <hr/>
        <div class="button_signup text center">
            <a class="btn btn-primary btn-lg" href="/signup/">Sign up</a>
        </div>
    </div>
{% endblock content %}